[submodule "Tweaks/Alderis"]
 	path = Tweaks/Alderis
 	url = https://github.com/qnblackcat/Alderis.git
 	branch = master
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
	branch = main
